#draggable {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    /* width: 15px; */
    /* height: 150px; */
    padding: 0.0em;
}

#obj {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    /* width: 15px; */
    /* height: 150px; */
    padding: 0.0em;
}